<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <h1 class="text-blue-700">Welcome <%= locals.user %> to your dashboard</h1>

    <div style="margin-top: 30px">
        <% if (locals.urls) { %>
            <table>
                <thead>
                    <th>S. No</th>
                    <th>ShortID</th>
                    <th>Redirect</th>

                </thead>
                <tbody>
                    <% urls.forEach((url, index)=> { %>
                        <tr>
                            <td>
                                <%= index + 1 %>
                            </td>
                            <td>
                                <%= url.shortId %>
                            </td>
                            <td>
                                <%= url.redirectUrl %>
                            </td>

                        </tr>
                        <% }) %>
                </tbody>
            </table>
            <% } %>
    </div>

</body>

</html>