@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:wght@100..700&display=swap');

.inp1 {
    padding-left: 10px;
    margin: 10px 0px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    height: 6vh;
    width: 23vw;
    outline: none;
    
    border-radius: 3px;

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.monoFont {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
}

.btnfont {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
}

form {
    background: rgb(151 187 230);

}

body {
    background: linear-gradient(0.25turn, #c898a1, #9d9de6, rgb(250, 211, 211));
}

.btn {
    background-color: rgba(103, 161, 255, 1);
}

.formcontainerh label {
    color: whitesmoke;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
}